.idea/misc.xml
.idea/chrismess.iml
.idea/discord.xml
.idea/markdown-navigator.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
.idea/libraries/R_User_Library.xml
.idea/markdown-navigator/profiles_settings.xml
reference/*