@import url('https://fonts.googleapis.com/css?family=Markazi+Text|Oswald|Roboto');

body {
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
    color: white;
}

.header1 {
    font-size: 80px;
    margin-top: 40px;
    color: white;
}

.header2 {
    font-size: 50px;
    color: white;
}

ul {
    text-align: center;
    list-style-position: inside;
}

.movieName {
    font-family: 'Markazi Text', sans-serif;
    font-size: 25px;
    font-style: italic;
    color: white;
}

.movieYear {
    font-family: 'Oswald', sans-serif;
    color: white;
}

body {
    background-image: url("assets/background2.jpg");
    background-repeat: no-repeat;
    background-size: auto;
    width: 50%;
    display: block;
    margin: -2vw auto 0;
}
